<div class="header">

    <!--Content before waves-->
    <div >
        <mat-grid-list cols="2">
            <mat-grid-tile>
                <ul style="list-style-type:none;">
                <li><h1>Suerte Application</h1></li>
                <li><h4>a web app</h4></li>
                </ul>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="login-card">
                    <mat-card-header>
                      
                      <mat-card-title></mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                       
                    </mat-card-content>
                    <mat-card-actions>
                    <div fxLayout="row">
                        <div>
<button (click)="login()" mat-button style="padding: 1rem;">
    <mat-icon style="width: 50px; height:30px"
              svgIcon="glogo"></mat-icon> Login With Google
</button>
</div><div>
<button (click) ="tlogin()" mat-button style="padding: 1rem;">
    <mat-icon style="width: 50px; height:30px"
              svgIcon="tlogo"></mat-icon> Login With Twitter
</button>
</div><div>
<button (click)="gitlogin()" mat-button style="padding: 1rem;">
    <mat-icon style="width: 50px; height:30px"
              svgIcon="gitlogo"></mat-icon> Login With Github
</button></div>
</div>
                    </mat-card-actions>
                  </mat-card>
            </mat-grid-tile>
    </mat-grid-list>
    </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->
    <div class="content flex">
    <p>vivek sharma | developer</p>
    </div>
    <!--Content ends-->